openapi: 3.0.3
info:
  title: BAPS Chatbot Copilot Plugin
  description: Plugin to fetch personal user data from BAPS backend
  version: 'v1'
servers:
  - url: https://bapsai.com:1443/bapsChatbotSfBackendDev-0.0.1-SNAPSHOT
paths:
  /baps/get/getUserPersonalDataC:
    get:
      operationId: getUserPersonalDataC
      summary: Get personal information
      description: Fetches personal profile using userId (email)
      parameters:
        - name: userId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response with personal data
          content:
            application/json:
              schema:
                type: object
                properties:
                  personIdExternal:
                    type: string
                  firstName:
                    type: string
                  lastName:
                    type: string
                  gender:
                    type: string
                  nationality:
                    type: string
                  middleName:
                    type: string
                  nativePreferredLang:
                    type: string
                  salutation:
                    type: string
                  maritalStatus:
                    type: string
                  __metadata:
                    type: object
                    properties:
                      uri:
                        type: string
                      type:
                        type: string
        '401':
          description: Unauthorized
        '500':
          description: Server error
components: {}
