openapi: 3.0.3
info:
  title: BAPS Chatbot Copilot Plugin
  description: Plugin to fetch personal user data from the BAPS backend using the userId (email).
  version: '1.0.0'
  contact:
    name: BAPS Consulting
    email: contactus@bapsconsulting.com
    url: https://bapsconsulting.com
  license:
    name: Proprietary
    url: https://iampravinsubramaniyam.github.io/copilot-plugin/legal.html
servers:
  - url: https://bapsai.com:1443/bapsChatbotSfBackendDev-0.0.1-SNAPSHOT
paths:
  /baps/get/getUserPersonalDataC:
    get:
      operationId: getUserPersonalDataC
      summary: Get personal information
      description: Fetches personal profile using `userId` (email).
      parameters:
        - name: userId
          in: query
          required: true
          description: The user's email address (e.g., praveen.subramaniyam@bapsconsulting.com)
          schema:
            type: string
            format: email
      responses:
        '200':
          description: Successful response with personal data
          content:
            application/json:
              schema:
                type: object
                properties:
                  personIdExternal:
                    type: string
                  firstName:
                    type: string
                  lastName:
                    type: string
                  gender:
                    type: string
                  nationality:
                    type: string
                  middleName:
                    type: string
                  nativePreferredLang:
                    type: string
                  salutation:
                    type: string
                  maritalStatus:
                    type: string
                  __metadata:
                    type: object
                    properties:
                      uri:
                        type: string
                      type:
                        type: string
        '401':
          description: Unauthorized (if enforced by backend)
        '500':
          description: Internal server error
components: {}
